{% extends 'learning_logs/base.html' %}

{% block title %}
    Отзывы
{% endblock %}
{% block page_header %}
    <h1>Отзывы</h1>
{% endblock page_header %}

{% block content %}
    <div class='jumbotron'>
        {% for el in feedbacks %}
            <div class="border-bottom">
                <h5>
                    {{ el.date_added }}<br>
                    {{ el.name }}<br>
                    Email: {{ el.email }}<br>
                    Phone: +{{ el.phone }}
                </h5>
                <p>
                    {{ el.comment }}
                </p>
            </div>
        {% empty %}
            <h4>Отзывы еще не добавлены.</h4>
        {% endfor %}
    </div>
    <p>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:index' %}"
       role="button">На главную &laquo;</a>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:feedback' %}"
       role="button">Назад &laquo;</a>
    </p>
{% endblock content %}
